{%- macro Values(key, val) -%}
  {%- if val['key'] and ['type', 'defaultValue'].includes(key) -%}
    DataTypes.{{ val.key }}(
      {{- val.options|dump|safe -}}
    )
  {%- else -%}
    {{ val|dump|safe }}
  {%- endif -%}
{%- endmacro -%}

{%- macro Table(create, table, options) -%}
  query.{{ 'create' if create else 'drop' }}Table(
    '{{ table }}'{% if create %},
    {
    {%- for field, option in options %}
      {{ field }}: {
      {%- for key, val in option %}
        {{ key }}: {{ Values(key, val) }},
      {%- endfor %}
      },
    {%- endfor %}
    }
    {% endif %}
  )
{%- endmacro -%}

'use strict'

module.exports = {
  up: (query, DataTypes) => {{ Table(create, table, options) }},
  {% set create = false if create else true %}
  down: (query, DataTypes) => {{ Table(create, table, options) }}
}